@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

html{
	scroll-behavior: smooth;
}

body {
	background-color: #393e46;
	margin: 0;
}

header{
	background-color: #222831;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
	height: 50px;
	width: 60%;
	margin: auto;
}

a{
    font-family: 'Nunito', sans-serif;
    border: none;
    color: #DDDDDD; 
	text-decoration: none;
    font-size: 15px;     
    cursor: pointer;
    margin: 5px;   
}

a:hover{
	color: #F7F7F7;
}

.home{
	margin: 30px;
	font-size: 18px;
}

.games .title, .description .title{
    font-size: 30px;
	font-family: 'Nunito', sans-serif;
	color: #FFFFFF;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
}

.games .br, .description .br{
	width: 300px;
}

.games .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 50px;
}

.games .content .game{    
    transition: all 0.15s ease 0s;   
}

.games .content .game {
    margin: 20 25;
}

.games .content .game:hover{
    transform: scale(1.10);
}

.games .content .game .content {
    margin: 15 0 auto auto;
    display: flex;
}

.games .content .game .content img {
    margin: 15 0 0 0;
    width: 400px; 
    border-radius: 7.5px;
    margin: 0;
}

.description .short-description{
	font-size: 20px;
	color: #FFFFFF;
	margin: 100px;
	margin-top: 30px;
}

footer{
	background-color: #222831;
	color: #FFFFFF;
    align-items: right;
    overflow: hidden;
}